html {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.icons {
    width: 150px;

}


.hero-image {
    width: auto;
    height: 300px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.hero-text {
    width: 200px;
}

h1 {
    margin: 0;
    padding: 0;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
} 

p {
    color: #E5E7EB
}

.logo {
    width: 100px;
}


/* Above has no specific styling. Replaces placeholder styles*/


header {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    padding-bottom: 50px;
    color: white;
    background-color: #1F2937;
    height: 60px;
    align-items: center;
    border: 0;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #1F2937;
    gap: 40px;
    padding-bottom: 100px;
}

.hero-text {
    width: 300px;
}

#signup {
    background-color: #3882F6;
    padding: 5px 10px;
    border: 2px white;
    color: white;
    border-radius: 4px;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card > p{
    color: black;
    text-align: center;
    
}


.subtitle {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    color: #1F2937
}

.quote {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
}

.quote-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px
}

.quote-p {
    color: #1F2937;
}

.quote-p-author {
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    color: black;
    align-self: flex-end;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.cta-card {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    padding: 40px 250px;
    border-radius: 5px;
    
}

.cta-text > h4 {
    font-size: 26px;
    color: white;
    padding: 0;
    margin: 0;
}

.cta-text > p {
    padding: 0;
    margin: 0;
}

button {
    padding: 6px 30px;
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    border-radius: 6px;
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}
